<h1>Admin-siden</h1>
<div>
    Admin interface <br>

    Farligt sted at være <br>
    <img src="https://carboncostume.com/wordpress/wp-content/uploads/2015/11/hackerman.jpg" height="500" width="500">
    <ul>
        {{ userList }}
    </ul>
</div>
